@media(max-width:1500px) {
	.header__logo {
		width: 54.4px;
		height: 16px;
	}

	.header__btn {
		font-size: $fs16;
		line-height: 1.357;
	}

	.nav {
		&__link {
			font-size: $fs16;
			line-height: 1.357;
		}
	}
}
@media(max-width:1400px) {
	.intro {
		&__title {
			font-size: 46px;
		}
	}
}
@media(max-width:1200px) {
	.header {
		&__btn {
			font-size: $fs14;
		}
	}
	
	.nav {
		&__link {
			font-size: $fs14;
		}
	}

	.intro {
		&__content {
			padding: 0 15px 76px;
			max-width: 768px;
		}

		&__title {
			font-size: 36px;
			line-height: 1.388;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 1.388;
		}

		&__text {
			font-size: 14px;
			line-height: 1.357;
		}
	}
	
	.btn {
		font-size: 16px;
		line-height: 1.187;
	}
}
@media(max-width:1000px) {
	.header__btn {
		display: none;
	}

	.nav {
		&__item {
			margin-right: 25px;
		}
	}
}
@media(max-width:992px) {}
@media(max-width:992px) and (max-height: 500px) {
	.intro__content {
		padding: 0 15px 20px;
	}
}

@media(max-width:768px) and (max-height: 500px) {
	.intro {
		&__content {
			padding: 0 15px 15px !important;
		}

		&__title {
			font-size: 26px;
		}
	}
}

@media(max-width:768px) {
	.header__btn {
		display: block;
	}

	.nav {
		display: none;

		&--active &__item {
			margin-bottom: 8px;
		}
	}

	.burger-menu {
		display: block;
	}

	.intro {
		&__content {
			padding: 0 15px 51px;
		}
	}
}
@media(max-width:600px) {
	.intro {
		&__title {
			font-size: 28px;
		}
	}
}
@media(max-width:576px) {}

@media(max-width:480px) {
	.intro {
		&__content {
			padding: 0 15px 51px;
		}

		&__title {
			font-size: 24px;
			line-height: 1.375;
		}
	}
}

@media(max-width:380px) {
	.intro {
		&__content {
			padding: 0 15px 20px;
		}

		&__title {
			font-size: 20px;
		}
	}
}

@media(max-width:568px) and (max-height: 400px) {
	.intro {
		&__title {
			font-size: 20px;
			margin-bottom: 18px;
		}

		&__text {
			margin-bottom: 18px;
		}
	}
}