@media(max-width:1800px) {
	.media-service {
		&__title {
			font-size: 40px;
			padding-left: 20px;
		}

		&__info {
			padding: 125px 0 0 65px;

			&-count {
				font-size: 140px;
			}

			&-title {
				font-size: 40px;
			}
		}
	}
}

@media(max-width:1600px) {
	.information {
		&-item__number-data {
			font-size: 145px;
		}
	}

	.demo {
		&__left {
			padding: 123px 87px;
		}

		&__right {
			padding: 190px 48px;
		}
	}
}

@media(max-width:1500px) {
	.header__logo {
		width: 54.4px;
		height: 16px;
	}

	.header__btn {
		font-size: $fs16;
		line-height: 1.357;
	}

	.nav {
		&__link {
			font-size: $fs16;
			line-height: 1.357;
		}
	}

	.media-service {
		&__wrapper {
			&:after {
				width: 400px;
				height: 400px;
			}
		}

		&__img {
			width: 450px;
			height: 470px;
		}
	}

	.information {
		&__item {
			display: block;
		}

		&-item__number-data {
			font-size: $fs204p8;
			margin-bottom: 8px;
		}
	}
}
@media(max-width:1400px) {
	.intro {
		&__title {
			font-size: 46px;
		}
	}

	.advantages-card {
		&__title {
			font-size: 34px;
		}
	}

	.demo {
		&__left {
			padding: 105px 87px;
		}

		&__right {
			padding: 123px 48px;
		}
	}
}
@media(max-width:1200px) {
	.header {
		&__btn {
			font-size: $fs14;
		}
	}
	
	.nav {
		&__link {
			font-size: $fs14;
		}
	}

	.intro {
		&__content {
			padding: 0 15px 76px;
			max-width: 768px;
		}

		&__title {
			font-size: 36px;
			line-height: 1.388;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 1.388;
		}

		&__text {
			font-size: 14px;
			line-height: 1.357;
		}
	}

	.btn {
		font-size: 16px;
		line-height: 1.187;
	}

	.section {
		&__title {
			font-size: 36px;
			line-height: 1;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 1.388;
		}
	}

	.media-service {
		&__wrapper {
			&:after {
				width: 275px;
				height: 275px;
			}
		}

		&__content {
			height: 430px;
		}
	
		&__img {
			width: 320px;
			height: 334px;
		}

		&__title {
			font-size: 36px;
		}

		&__info {
			padding: 52px 0 0 56px;

			&-count {
				font-size: 128px;
			}

			&-title {
				font-size: 36px;
			}

			&-text {
				font-size: 14px;
				line-height: 1.357;
			}
		}
	}

	.advantages-card {
		&__title {
			font-size: 24px;
			line-height: 1.375;
		}

		&__text {
			font-size: 14px;
			line-height: 1.357;
		}
	}

	.advantages-operation {
		&__item {
			&:first-child {
				&:after {
					width: 280px;
					height: 280px;
					right: 132px;
				}
			}

			&:nth-child(2) {
				&:after {
					left: 175px;
					border-left: 210px solid transparent;
					border-bottom: 210px solid #212427;
				}
			}

			&:last-child {
				&:after {
					width: 227px;
					height: 227px;
					right: 156px;
				}
			}
		}
		
		&-item__title {
			font-size: 18px;
			line-height: 1.388
		}

		&-item__text {
			font-size: 14px;
			line-height: 1.357
		}

		&-item__picture {
			width: 420px;
    		height: 320px;
			// padding: 0;
		}

		&__item {
			&:first-child {
				.advantages-operation-item__picture {
					padding: 0 8px;
				}

				.advantages-operation-item__img {
					width: 404px;
					height: 320px;
				}
			}
	
			&:nth-child(2) {
				.advantages-operation-item__picture {
					padding: 26px 0 26px 37px;
				}

				.advantages-operation-item__img {
					width: 382px;
					height: 267px;
				}
			}
	
			&:last-child {
				.advantages-operation-item__picture {
					padding: 48px 113px 48px 0;
				}

				.advantages-operation-item__img {
					width: 306px;
					height: 224px;
				}
			}
		}

		&-item__img {
			// width: 404px;
			// height: 320px;
		}
	}

	.demo {
		&__left {
			padding: 76px 87px;
		}

		&__right {
			padding: 108px 48px;
		}

		&__img {
			width: 425px;
			height: 295px;
		}

		&__text {
			font-size: 24px;
			line-height: 1.375;
		}
	}

	.information {
		&__item {
			padding: 11px 0;
			display: flex;
		}

		&-item__number-data {
			font-size: $fs128;
			margin-bottom: 0;
		}

		&-item__text {
			font-size: 24px;
			line-height: 1.375;
		}
	}

	.component-item {
		&__img {
			left: auto;
			right: 0;
		}

		&__subtitle {
			font-size: 18px;
			line-height: 1.388;
			font-weight: 700;
		}

		&__text {
			font-size: 14px;
			font-weight: 400;
		}
	}

	.architecture {
		&__top {
			padding: 36px 36px 16px;
		}
	}

	.architecture-step {
		&__text {
			font-size: 14px;
			line-height: 1.357;
		}
	}

	.cooperation {
		&-item {
			&__title {
				font-size: 36px;
			}
	
			&__text {
				font-size: 14px;
				line-height: 1.357;
			}
		}
	}

	.feedback {
		&-form {
			&__input, &__error-input, &__error-message {
				font-size: 14px;
				line-height: 1.357;
			}
		}
	}

	.footer {
		&__text {
			font-size: 14px;
			line-height: 1.357;
		}
	}

	.modal-cookies {
		// bottom: 98px;
		right: 70px;
	}
}

@media(max-width:1180px) {
	.feedback {
		&__alert {
			// max-width: 929px;
			margin: 0;
			padding: 45px 48px;
		}
	
		&-alert {
			&__text {
				flex-direction: column;
			}
		}
	}
}

@media(max-width:1080px) {
	.media-service {
		&__title {
			font-size: 32px;
		}

		&__info {
			padding: 52px 0 0 40px;
		}
	}

	.information {
		&__item {
			display: block;
		}

		&-item__number-data {
			margin-bottom: 8px;
		}
	}

	.component-item {
		&__title {
			font-size: 110px;
		}
	}
}

@media(max-width:1024px) {
	.nav {
		&__item {
			margin-right: 28px;
		}
	}

	.media-service {
		&__wrapper {
			&:after {
				width: 206px;
				height: 206px;

				top: auto;
    			transform: translateX(-50%);
				bottom: 67px;
			}
		}

		&__content {
			height: 421px;
		}
	
		&__img {
			// width: 320px;
			// height: 334px;
			width: 240px;
			height: 244px;

			left: auto;
			top: auto;
			transform: translate3d(0, 0, 0);
			bottom: 48px;
		}

		&__title {
			// font-size: 36px;
		}

		&__info {
			padding: 52px 0 0 30px;

			&-count {
			}

			&-title {
			}

			&-text {
			}
		}
	}

	.demo {
		&__left {
			padding: 76px 43px;
		}

		&__title {
			font-size: 96px;
		}
	}

	.information {
		&__item {
			display: flex;
		}

		&-item__number-data {
			margin-bottom: 0px;
			font-size: 96px;
		}
	}

	.component-item {
		overflow: hidden;

		&__top {
			width: 100%;
			height: 153px;
			margin-bottom: 40px;
		}

		&__title {
			font-size: 96px;
			// margin-bottom: 32px;
		}

		&__img {
			right: -59px;
		}
	}
}

@media(max-width:992px) {
	.header__btn {
		display: none;
	}

	.media-service {
		&__info {
			padding: 92px 0 0 25px;

			&-count {
				font-size: 90px;
			}

			&-title {
				font-size: 32px;
			}
		}
	}

	.advantages-card {
		&__title {
			font-size: 20px;
		}
	}

	.demo {
		&__left {
			padding: 76px 34px;
		}

		&__right {
			padding: 108px 40px;
		}
	}

	.information {
		&__item {
			display: block;
		}

		&-item__number-data {
			margin-bottom: 8px;
			font-size: 96px;
			margin-right: 0;
		}
	}

	.platform-components {
		&__top {
			padding: 18px;
		}
	}

	.component-item {
		padding: 18px;

		&__title {
			font-size: 76px;
		}

		&__img {
			right: -59px;
		}
	}
}

@media(max-width:992px) {
	.advantages__card {
		width: 50%;

		&:nth-child(3), &:nth-child(4), &:nth-child(9), &:nth-child(10), &:nth-child(15) {
			display: none;
		}
	}

	.advantages-card {
		&__title {
			font-size: 24px;
		}
	}
}

@media(max-width:992px) and (max-height: 550px) {
	.intro__content {
		padding: 0 15px 20px;
	}

	.modal-cookies {
		max-width: none;
		margin: 0 30px;
		right: 0px;
	}
}

@media(max-width:768px) {
	.header__btn {
		display: block;
	}

	.nav {
		display: none;

		&--active &__item {
			padding: 5px 0;
			margin-bottom: 10px;
		}
	}

	.burger-menu {
		display: block;
	}

	.intro {
		&__content {
			padding: 0 15px 51px;
		}
	}

	.media-service {
		&__wrapper {
			&:after {
				width: 339px;
				height: 339px;
				// top: 40%;
				// transform: translate3d(-50%, -40%, 0);
				top: 246px;
			}
		}

		&__content {
			flex-direction: column;
			align-items: center;
			// justify-content: flex-start;
			justify-content: flex-start;
			height: 971px;
		}
	
		&__img {
			// left: 50%;
			// top: 40%;
			// transform: translate3d(-50%, -40%, 0);
			width: 394px;
			height: 401px;
			top: 216px;
		}

		&__title {
			// position: static;
			font-size: 36px;
			// padding: 48px;
			// align-self: flex-start;
		}

		&__title, &__info {
			width: 100%;
			max-width: none;
			// align-self: flex-start;
			padding: 48px 48px 0 48px;
		}

		&__info {
			// position: absolute;
			bottom: 96px;

			&-count {
				font-size: 128px;
			}

			&-title {
				font-size: 36px;
			}

			&-text {
			}
		}
	}

	// .advantages-operation {
	// 	// advantages-operation__item:first-child:after
	// 	&__item {
	// 		flex-direction: column;
	// 		align-items: flex-start;

	// 		&:first-child {
	// 			&:after {
	// 				transform: none;
	// 				top: auto;
	// 				right: 0;
	// 				bottom: 20px;
	// 				left: 10px;
	// 			}

	// 			.advantages-operation-item__picture {
	// 				// padding: 10px 20px;
	// 				padding: 0px 20px;
	// 			}
	// 		}
	
	// 		&:nth-child(2) {
	// 			&:after {
	// 				transform: none;
	// 				top: auto;
	// 				right: 0;
	// 				bottom: 54px;
	// 				left: 158px;
	// 				transform: rotate(-34deg);
	// 			}

	// 			.advantages-operation-item__info {
	// 				order: 1;
	// 			}

	// 			.advantages-operation-item__picture {
	// 				order: 2;
	// 				padding: 25px 20px;
	// 			}
	// 		}
	
	// 		&:last-child {

	// 			&:after {
	// 				top: auto;
	// 				right: 0;
	// 				bottom: 78px;
	// 				left: 58px;
	// 				transform: rotate(336deg);
	// 			}
	// 			.advantages-operation-item__picture {
	// 				padding: 20px;
	// 			}
	// 		}
	// 	}
	// }

	.demo {
		&__left {
			padding: 114px 34px;
		}

		&__right {
			padding: 75px 48px;
		}
	}

	.information {
		&-item__number-data {
			font-size: 96px;
		}
	}

	.platform-components {
		&__top {
			padding: 36px;
		}
	}

	.component-item {
		width: 100%;
		padding: 36px;
		border-right: 0;

		&:first-child {
			border-radius: 0;
		}

		&:last-child {
			border-radius: 0 0 10px 10px;
		}

		&__title {
			font-size: 96px;
		}

		&__img {
			right: auto;
			left: 127px;
		}
	}

	.feedback {
		&__alert {
			padding: 59px 48px;
		}
	
		&-alert {
			&__text {
				font-size: 18px;
				line-height: 1.388;
			}
		}
	}

	.modal-cookies {
		bottom: 108px;
		right: 70px;
	}
}

@media(max-width:768px) and (max-height: 550px) {
	.intro {
		&__content {
			padding: 0 15px 15px !important;
		}

		&__title {
			font-size: 26px;
		}
	}

	.modal-cookies {
		max-width: none;
		margin: 0 30px;
		right: 0px;
		bottom: 50px;
	}
}

@media(max-width: 700px) {
	.advantages-operation {
		&__item {
			flex-direction: column;
			align-items: flex-start;

			&:first-child {
				&:after {
					transform: none;
					top: auto;
					right: 0;
					bottom: 20px;
					left: 10px;
				}

				.advantages-operation-item__picture {
					// padding: 10px 20px;
					padding: 0px 20px;
				}
			}
	
			&:nth-child(2) {
				&:after {
					transform: none;
					top: auto;
					right: 0;
					bottom: 54px;
					left: 158px;
					transform: rotate(-34deg);
				}

				.advantages-operation-item__info {
					order: 1;
				}

				.advantages-operation-item__picture {
					order: 2;
					padding: 25px 20px;
				}
			}
	
			&:last-child {

				&:after {
					top: auto;
					right: 0;
					bottom: 78px;
					left: 58px;
					transform: rotate(336deg);
				}
				.advantages-operation-item__picture {
					padding: 20px;
				}
			}
		}
	}
}

@media(max-width:650px) {
	.demo {
		&__left {
			padding: 94px 20px;;
		}
		
		&__right {
			padding: 55px 28px;
		}
	}

	.modal {
		&__close {
			right: -10px;
			top: -10px;
		}
	}
}

@media(max-width:600px) {
	.intro {
		&__title {
			font-size: 28px;
		}
	}

	.advantages-card {
		&__title {
			font-size: 20px;
		}
	}
}
@media(max-width:576px) {
	.section__title {
		font-size: 24px;
	}

	.media-service {
		&__wrapper {
			&:after {
				width: 339px;
				height: 339px;
			}
		}

		&__content {
		}
	
		&__img {
			width: 394px;
			height: 401px;
		}

		&__title {
		}

		&__title, &__info {
		}

		&__info {

			&-count {
				font-size: 90px;
			}

			&-title {
				font-size: 24px;
			}

			&-text {

			}
		}
	}

	.advantages__cards {
		// gap: 32px 0;
	}

	.advantages__card {
		width: 100%;
		// margin-bottom: 32px;
	}

	.advantages-card {
		&__title {
			font-size: 24px;
		}

		// &__text {
		// 	font-size: 14px;
		// 	line-height: 1.357;
		// }
	}

	.demo {
		&__content {
			flex-direction: column;
			text-align: center;
		}

		&__left, &__right {
			width: 100%;
		}

		&__left {
			padding: 48px 20px;
		}
		
		&__right {
			padding: 48px 28px;
		}
	}

	.information {
		&-item__number-data {
			font-size: 64px;
		}
	}

	.component-item {
		&__title {
			font-size: 76px;
		}
	}

	.architecture {
		&__scheme {
			text-align: center;
		}

		&__step {
			width: 100%;
			margin-bottom: 32px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.cooperation {
		&__item {
			display: block;
		}

		&-item {
			&__title {
				margin-bottom: 8px;
			}
		}
	}

	.feedback {
		&-form {
			&__row {
				display: block;
				margin-bottom: 0;
			}

			&__col {
				width: 100%;
			}

			&__input {
				// width: 100%;
				font-size: 14px;
				line-height: 1.357;
				margin-bottom: 26px;

				// &:nth-child(1), &:nth-child(3) {
				// 	margin-right: 0;
				// }
			}
		}

		&__alert {
			padding: 34px 48px;
		}
	
		&-alert {
			&__text {
				font-size: 18px;
				line-height: 1.388;
			}
		}
	}

	.modal-cookies {
		max-width: none;
		margin: 0 30px;
		right: 0px;
	}
}

@media(max-width:568px) and (max-height: 400px) {
	.intro {
		&__title {
			font-size: 20px;
			margin-bottom: 18px;
		}

		&__text {
			margin-bottom: 18px;
		}
	}
}

@media(max-width:480px) {
	.intro {
		&__content {
			padding: 0 15px 51px;
		}

		&__title {
			font-size: 24px;
			line-height: 1.375;
		}
	}

	.media-service {
		&__wrapper {
			&:after {
				width: 206px;
				height: 206px;
				top: 224px;
			}
		}

		&__content {
			height: 764px;
		}
	
		&__img {
			width: 240px;
			height: 240px;
			top: 208px;
		}

		&__title {
			padding: 48px 12px;
		}

		&__info {

			&-count {
				font-size: 64px;
			}

			&-title {
				font-size: 36px;
			}

			&-text {
			}
		}
	}

	.advantages-operation {
		&__item {
			align-items: center;
			
			&:first-child {
				&:after {
					width: 240px;
					height: 240px;
					left: 0;
					left: 40%;
					transform: translateX(-60%);
				}

				.advantages-operation-item__picture {
					padding: 10px 20px;
					height: 274px;
				}

				.advantages-operation-item__img {
					width: 320px;
					height: 253px;
				}
			}
	
			&:nth-child(2) {
				&:after {
					left: 0;
					left: 60%;
					bottom: 45px;
    				transform: translateX(-40%) rotate(336deg);
				}

				.advantages-operation-item__picture {
					
				}

				.advantages-operation-item__img {
					width: 320px;
					height: 223px;
				}
			}
	
			&:last-child {

				&:after {
					width: 194px;
					height: 194px;
					left: 0;
					left: 41%;
					bottom: 78px;
					transform: translateX(-59%) rotate(336deg);
				}
				.advantages-operation-item__picture {
				}
				.advantages-operation-item__img {
					width: 320px;
					height: 234px;
				}
			}
		}

		&-item__picture {
			text-align: center;
		}
	}

	.demo {
		&__left {
			padding: 24px 28px;
		}
	}

	.component-item {
		&__img {
			left: auto;
			right: 0;
		}
	}
}

@media(max-width:380px) {
	.intro {
		&__content {
			padding: 0 15px 20px;
		}
	}

	.component-item {
		&__top {
			margin-bottom: 8px;
		}

		&__title {
			font-size: 64px;
		}
	}

	.architecture {
		&__steps {
			display: block;
		}
	}

	.architecture-step {
		&__text {
		}
	}
}

@media(max-width:360px) {
	.demo {
		&__left {
			padding: 24px 28px;
		}

		&__right {
			padding: 48px;
			text-align: left;
		}

		&__title {
			font-size: 64px;
		}

		&__img {
			width: 172px;
			height: 120px;
		}
	}

	.architecture {
		&__top {
			padding: 36px 25px 16px;
		}
	}

	.btn-to-top {
		display: none;
	}
}

@media(max-width: 320px) {
	.modal-cookies {
		bottom: 15px;
		margin: 0 15px;
	}
}

@media(max-width:568px) and (max-height: 320px) {
	.modal-cookies {
		bottom: 15px;
	}
}

