$fs14: 14px;
$fs16: 16px;
$fs22p4: 22.4px;
$fs25p6: 25.6px;
$fs28p8: 28.8px;
$fs38p4: 38.4px;
$fs57p6: 57.6px;
$fs128: 128px;
$fs204p8: 204.8px;

$fs16: 16px;
// $fs36: 36px;

$cyan: #00FFEF;
$violet_dark: #350268;
$violet_light: #350268;
$white: #FDFDFD;
$black: #212427;
$grey_light: #BFBFBF;

$cyan_dark: #276868;


$fw400: 400;
$fw600: 600;
$fw700: 700;

$ff_Manrope: 'Manrope', sans-serif;