@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';

// @import '../../node_modules/swiper/swiper-bundle.css';

//font-size: $fs22p4 и line-height: 1.383(31px)
body {
	font-size: $fs22p4;
	font-weight: $fw400;
	line-height: 1.383;
	font-family: $ff_Manrope;
	color: $white;
	background-color: $black;
}

/* HEADER */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	position: absolute;
	width: 100%;

	&__logo {
		width: 88.4px;
		height: 26px;
	}

	&__link {
		display: block;
		height: 100%;
	}

	&__img {
		width: 100%;
		height: 100%;
	}

	&__btn {
		font-size: $fs22p4;
		line-height: 1.383;
		font-weight: $fw600;
		color: $white;
		text-decoration: underline;
	}
}
.nav {

	&__list {
		display: flex;
	}

	&--active {
		display: block !important;
		width: 100%;
		position: absolute;
		left: 0;
		top: 100%;
		background-color: $cyan_dark;
	}

	&--active &__list {
		display: block;
		padding: 16px;
	}

	&__item {
		margin-right: 36px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: block;
		font-size: $fs22p4;
		line-height: 1.383;
		font-weight: $fw600;
		color: $white;
	}
}

.burger-menu {
	display: none;
	width: 24px;
	height: 24px;
	position: relative;
	cursor: pointer;

	span, span:before, span:after {
		display: block;
		width: 17px;
		height: 3px;
		position: absolute;
		background-color: $white;
		border-radius: 3px;
		transition: .3s linear;
	}

	span {
		top: 5px;
		left: 4px;

		&:before {
			content: "";
			top: 6px;
		}

		&:after {
			content: "";
			top: 12px;
		}
	}
}

.burger--active span {
	transform: rotate(45deg);
	top: 10px;

	&:before {
		opacity: 0;
	}

	&:after {
		top: 0;
		transform: rotate(-90deg);
	}
}
/* HEADER */

/* INTRO */
.intro {
	height: 100vh;
	padding-top: 63px;
	background: url("@img/intro-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__wrapper {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: end;
	}

	&__content {
		max-width: 1291px;
		margin: 0 auto;
		padding: 0 0 124px;
		text-align: center;
	}

	&__title {
		font-size: $fs57p6;
		line-height: 1.371;
		font-weight: $fw600;
		margin-bottom: 24px;
	}

	&__subtitle {
		font-size: $fs28p8;
		line-height: 1.354;
		font-weight: $fw700;
		margin-bottom: 16px;
	}

	&__text {
		font-size: $fs22p4;
		max-width: 705px;
		margin: 0 auto;
		margin-bottom: 24px;
		color: $grey_light;
	}

	&__btn {
		// display: inline-block;
		// padding: 16px 36px;
		// border: 2px solid $white;
		// border-radius: 56px;
		// color: $white;
		// font-size: $fs25p6;
		// line-height: 1.21;
		// font-weight: $fw700;
	}
}

.btn {
	display: inline-block;
	padding: 16px 36px;
	border: 2px solid $white;
	border-radius: 56px;
	color: $white;
	font-size: $fs25p6;
	line-height: 1.21;
	font-weight: $fw700;
}
/* INTRO */

/* MEDIA-SERVICE */
// .media-service {
// 	&__wrapper {

// 	}

// 	// &__container {
// 	// }

// 	&__content {
// 	}


// 	&__title {

// 	}

// 	&__img {
// 	}

// 	&__info {
// 		&-count {

// 		}

// 		&-title {

// 		}

// 		&-text {

// 		}
// 	}
// }
/* MEDIA-SERVICE */

/* SECTION */
.section {
	background-image: url('@img/linear-gradient-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	&__wrapper {

	}

	// &__container {
	// }

	&__content {
		background-color: $black;
		padding: 48px;
	}

	&__title {
	}
}
/* SECTION */

/* STRIPES */
.stripes-top {
	.stripe-first {
		height: 2px;
		margin-bottom: 16px;
	}
	.stripe-second {
		height: 4px;
		margin-bottom: 8px;
	}
	.stripe-third {
		height: 8px;
		margin-bottom: 8px;
	}
	.stripe-fourth {
		height: 16px;
		margin-bottom: 4px;
	}
	.stripe-fifth {
		height: 24px;
		margin-bottom: 2px;
	}
}

.stripe {
	background-color: $black;
}

.stripes-bottom {
	.stripe-first {
		height: 24px;
		margin-top: 2px;
	}
	.stripe-second {
		height: 16px;
		margin-top: 4px;
	}
	.stripe-third {
		height: 8px;
		margin-top: 8px;
	}
	.stripe-fourth {
		height: 4px;
		margin-top: 16px;
	}
	.stripe-fifth {
		height: 2px;
		margin-top: 24px;
	}
}
/* STRIPES */


@import "media.scss";