@import 'reset.scss';
@import 'variables.scss';
@import 'fonts.scss';
@import 'mixins.scss';

// @import '../../node_modules/swiper/swiper-bundle.css';

//font-size: $fs22p4 и line-height: 1.383(31px)
body {
	font-size: $fs22p4;
	font-weight: $fw400;
	line-height: 1.383;
	font-family: $ff_Manrope;
	color: $white;
	background-color: $black;
}

/* HEADER */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
	position: fixed;
	z-index: 200;
	width: 100%;
	background: rgba(33, 36, 39, 0.8);
	backdrop-filter: blur(16px);

	&__logo {
		width: 88.4px;
		height: 26px;
	}

	&__link {
		display: block;
		height: 100%;
	}

	&__img {
		width: 100%;
		height: 100%;
	}

	&__btn {
		font-size: $fs22p4;
		line-height: 1.383;
		font-weight: $fw600;
		color: $white;
		text-decoration: underline;
	}
}
.nav {

	&__list {
		display: flex;
	}

	&--active {
		display: block !important;
		width: 100%;
		position: absolute;
		left: 0;
		top: 100%;
		background-color: $cyan_dark;
	}

	&--active &__list {
		display: block;
		padding: 16px;
	}

	&__item {
		margin-right: 36px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: block;
		font-size: $fs22p4;
		line-height: 1.383;
		font-weight: $fw600;
		color: $white;
	}
}

.burger-menu {
	display: none;
	width: 24px;
	height: 24px;
	position: relative;
	cursor: pointer;

	span, span:before, span:after {
		display: block;
		width: 17px;
		height: 3px;
		position: absolute;
		background-color: $white;
		border-radius: 3px;
		transition: .3s linear;
	}

	span {
		top: 5px;
		left: 4px;

		&:before {
			content: "";
			top: 6px;
		}

		&:after {
			content: "";
			top: 12px;
		}
	}
}

.burger--active span {
	transform: rotate(45deg);
	top: 10px;

	&:before {
		opacity: 0;
	}

	&:after {
		top: 0;
		transform: rotate(-90deg);
	}
}
/* HEADER */

/* INTRO */
.intro {
	height: 100vh;
	padding-top: 63px;
	background: url("@img/intro-bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__wrapper {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: end;
	}

	&__content {
		max-width: 1291px;
		margin: 0 auto;
		padding: 0 0 124px;
		text-align: center;
	}

	&__title {
		font-size: $fs57p6;
		line-height: 1.371;
		font-weight: $fw600;
		margin-bottom: 24px;
	}

	&__subtitle {
		font-size: $fs28p8;
		line-height: 1.354;
		font-weight: $fw700;
		margin-bottom: 16px;
	}

	&__text {
		font-size: $fs22p4;
		max-width: 705px;
		margin: 0 auto;
		margin-bottom: 24px;
		color: $grey_light;
	}

	&__btn {
		// display: inline-block;
		// padding: 16px 36px;
		// border: 2px solid $white;
		// border-radius: 56px;
		// color: $white;
		// font-size: $fs25p6;
		// line-height: 1.21;
		// font-weight: $fw700;
	}
}

.wrapper {
	&-btn {
		text-align: center;
		margin-top: 32px;
	}
}

.btn {
	display: inline-block;
	padding: 16px 36px;
	border: 2px solid $white;
	border-radius: 56px;
	color: $white;
	font-size: $fs25p6;
	line-height: 1.21;
	font-weight: $fw700;
	transition: .3s background-color, .3s color;

	&:hover {
		background-color: $white;
		color: $violet_dark;
	}
}
/* INTRO */

/* MEDIA-SERVICE */
.media-service {
	&__wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			z-index: 0;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);
			// margin: 100px auto;
			width: 459px;
			height: 459px;
			border-radius: 50%;
			box-shadow: 0 0 0 1000px #000;
		}
	}

	// &__container {
	// }

	&__content {
		display: flex;
		justify-content: center;
		padding: 48px 0;
		height: 630px;
	}

	&__title {
		left: 0;
		padding: 48px 0 0 48px;
	}

	&__img {
		width: 511px;
		height: 534px;
		position: absolute;
		z-index: 5;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0)
	}

	&__title, &__info {
		width: 36.7%;
		max-width: 704px;
		// flex-shrink: 0;
		// flex-grow: 1;

		position: absolute;
		z-index: 100;
	}

	&__info {
		right: 0;
		padding: 85px 0 0 38px;

		&-count {
			font-weight: 700;
			font-size: 204.8px;
			line-height: 1;
			color: $grey_dark3;
		}

		&-title {
			font-weight: 600;
			font-size: 57.6px;
			line-height: 1;
			color: $grey_dark3;
			margin-bottom: 8px;
		}

		&-text {
			color: $grey_light
		}
	}
}
/* MEDIA-SERVICE */

/* SECTION */
.section {
	background-image: url('@img/linear-gradient-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	&__wrapper {
		padding: 48px
	}

	&__info {
		margin-bottom: 32px;
	}

	&__content {
		background-color: $black;
		padding: 48px;
	}

	&__title {
		font-size: $fs57p6;
		line-height: 1;
		font-weight: $fw600;
	}

	&__subtitle {
		font-size: $fs28p8;
		line-height: 1.354;
	}
}
/* SECTION */

/* STRIPES */
.stripes-top {
	padding-bottom: 2px;
	
	.stripe-first {
		height: 2px;
		margin-bottom: 16px;
	}
	.stripe-second {
		height: 4px;
		margin-bottom: 8px;
	}
	.stripe-third {
		height: 8px;
		margin-bottom: 8px;
	}
	.stripe-fourth {
		height: 16px;
		margin-bottom: 4px;
	}
	.stripe-fifth {
		height: 24px;
		// margin-bottom: 2px;
	}
}

.stripe {
	background-color: $black;
}

.stripes-bottom {
	.stripe-first {
		height: 24px;
		// margin-top: 2px;
	}
	.stripe-second {
		height: 16px;
		margin-top: 4px;
	}
	.stripe-third {
		height: 8px;
		margin-top: 8px;
	}
	.stripe-fourth {
		height: 4px;
		margin-top: 16px;
	}
	.stripe-fifth {
		height: 2px;
		margin-top: 24px;
	}
}
/* STRIPES */

/* ADVANTAGES */
.advantages {
	&__wrapper {
	}
	
	&__info {
	}

	&__content {
	}

	&__title {
		max-width: 1075px;
		margin-bottom: 16px;
	}

	&__subtitle {
	}

	&__cards {
		display: flex;
		gap: 32px 0;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 -12px;
	}

	&__card {
		max-width: 592px;
		width: 33.33333333333333%;
		padding: 0 12px;
	}

	&-card__icon {
		margin-bottom: 16px;
	}

	&-card__title {
		font-size: $fs38p4;
		line-height: 1.354;
		font-weight: $fw700;
		margin-bottom: 8px;

		&:before {
			content: "";
			display: block;
			height: 1px;
			background-color: $white;
			margin-bottom: 16px;
		}
	}

	&-card__text {
		font-size: 22.4px;
	}
}
/* ADVANTAGES */

/* ADVANTAGES-OPERATION */
.advantages-operation {
	&__wrapper {
		// background-color: $black;
	}

	&__info {
		background-color: $black;
		padding: 48px;
		margin-bottom: 0;
	}

	&__title {

	}

	&__content {
	}

	&__item {
		display: flex;
		align-items: center;
		// background-color: $black;
		justify-content: space-between;

		width: 100%;
		height: 100%;
		position: relative;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			z-index: 0;
			top: 50%;

			transform: translateY(-50%,);
			width: 448px;
			height: 448px;
			// border-radius: 50%;
			box-shadow: 0 0 0 10000px $black;
		}

		&:first-child {
			&:after {
				border-radius: 50%;
				right: 224px;
			}
		}

		&:nth-child(2) {
			&:after {
				height: 0;
				width: 0;
				left: 242px;
				border-left: 370px solid transparent;
				border-bottom: 370px solid #212427;
				transform: translateY(-50%) rotate(-34deg);
			}
		}

		&:last-child {
			margin-bottom: 32px;

			&:after {
				width: 363px;
				height: 363px;
				right: 248px;
				transform: translateY(-50%) rotate(336deg);
			}
		}
	}

	&-item__info {
		max-width: 1248px;
		padding: 48px;
		// z-index: 2;
	}

	&-item__info, &-item__picture {
		z-index: 2;
	}

	&-item__title {
		font-weight: 700;
		font-size: 28.8px;
		line-height: 1.354;
		margin-bottom: 8px;
	}

	&-item__text {
		color: $grey_light;
	}

	// &-item__right-wrapper {
	// 	width: 672px;
	// 	height: 512px;
	// }

	&-item__picture {
		// max-width: 672px;
		width: 672px;
		height: 512px;
		// z-index: 2;
		// padding: 16px 33px;

		// &:first-child {
		// 	padding: 16px 33px;
		// }

		// &:nth-child(2) {
		// 	padding: 26px 7px;
		// }

		// &:last-child {
		// 	padding: 26px 22px;
		// }
	}

	&__item {
		&:first-child {
			.advantages-operation-item__picture {
				padding: 16px 33px;
			}
		}

		&:nth-child(2) {
			.advantages-operation-item__picture {
				padding: 26px 7px;
			}
		}

		&:last-child {
			.advantages-operation-item__picture {
				padding: 26px 22px;
			}
		}
	}

	&-item__img {
		// width: 100%;
		// height: 100%;
	}
}
/* ADVANTAGES-OPERATION */

/* DEMO */
.demo {
	padding-top: 1px;

	&__wrapper {
		background-color: $black;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left, &__right {
		width: 50%;
	}
	&__left {
		padding: 123px 140px;
		position: relative;
	}
	&__right {
		padding: 224px 48px;
	}
	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		font-weight: 700;
		font-size: 128px;
		line-height: 1;
		color: $cyan;
	}
	&__img {
		width: 680px;
		height: 472px;
		max-width: 100%;
	}
	&__text {
		font-size: 38.4px;
		line-height: 1.354;
		margin-bottom: 48px;
	}
	&__btn {

	}
}
/* DEMO */

/* INFORMATION */
.information {
	&__wrapper {
	}

	&__content {
		background-color: transparent;
		padding: 0;
	}

	&__item {
		display: flex;
		align-items: center;
		padding: 16px 0;
		border-bottom: 1px solid $white;

		&:last-child {
			border-bottom: 1px solid transparent;
		}
	}

	&-item__number-data {
		font-size: $fs204p8;
		line-height: 1;
		font-weight: $fw700;
		margin-right: 64px;
	}

	&-item__text {
		font-size: $fs38p4;
		line-height: 1.354;
		font-weight: $fw700;
	}
}
/* INFORMATION */

/* PLATFORM-COMPONENTS */
.platform-components {
    &__wrapper {
		padding: 36px;
    }
    &__content {
    }
    &__top {
		background-color: $black;
		border-radius: 10px 10px 0 0;
		padding: 36px;
		margin-bottom: 1px;
    }

    &__components {
		display: flex;
		flex-wrap: wrap;
    }

    &__title {
    }
}

.component-item {
	width: 33.33333333333333%;
	background-color: $black;
	padding: 36px;
	border-right: 1px solid rgba(255, 255, 255, .1);
	// margin-right: 1px;

	&:first-child {
		border-radius: 0 0 0 10px;
	}

	&:last-child {
		// margin-right: 0;
		border-right: 0;
		border-radius: 0 0 10px 0;
	}

    &__top {
		// width: 303px;
		height: 185px;
		position: relative;
		margin-bottom: 8px;
    }

	&__title {
		font-size: $fs128;
		line-height: 1;
		font-weight: $fw700;
		// padding-top: 57px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 3;
    }

	&__img {
		position: absolute;
		top: 0;
		left: 127px;
		z-index: 1;
		// top: 0;
		// left: 127px;
	}

    &__subtitle {
		font-size: 28.8px;
		line-height: 1.354;
		font-weight: 700;
		margin-bottom: 8px;
    }

    &__text {
		font-size: 22.4px;
		line-height: 31px;
		color: $grey_light;
    }
}
/* PLATFORM-COMPONENTS */

/* TITLE */
.title--cyan {
	color: $cyan
}

.title--violet {
	color: $violet_light;
}

.title--blue {
	color: $blue_dark;
}
/* TITLE */

/* ARCHITECTURE */
.architecture {
	&__wrapper {
	}

	&__scheme {
		margin-bottom: 32px;
	}

	&__steps {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -18px;
	}

	&__step {
		width: 33%;
		padding: 0 18px;
	}

	&__img {
		// max-width: 100%;
		width: 100%;
	}
}

.architecture-step {
	&__text {
		font-size: 22.4px;
		line-height: 31px;
		font-weight: 400;

		&:before {
			content: "";
			display: block;
			height: 1px;
			background-color: $white;
			margin-bottom: 16px;
			// position: absolute;
			// top: 0;
		}
	}
}
/* ARCHITECTURE */

/* COOPERATION */
.cooperation {
	&__wrapper {
		background-color: $black;
		padding: 36px;
	}

	&__info {

	}

	&__items {

	}

	&__btn {

	}

	&__title {
		margin-bottom: 8px;
	}

	&__subtitle {

	}

	&__item {
		display: flex;
		align-items: center;
		padding: 10px 0;
		margin-bottom: 36px;
		position: relative;

		&:nth-child(3) {
			margin-bottom: 0;
		}

		&:before {
			content: "";
			display: block;
			width: 100%;
			height: 1px;
			background-color: $white;
			position: absolute;
			top: 0;
		}
	}

	&-item {
		&__title {
			font-weight: 600;
			font-size: 57.6px;
			line-height: 1;
			color: $grey_dark;
			margin-right: 24px;
		}

		&__text {
			font-weight: 400;
			// font-size: 22.4px;
			// line-height: 31px;
		}
	}
}
/* COOPERATION */

/* FEEDBACK */
.feedback {
	&__wrapper {
		padding: 64px 48px;
	}
	&__form {
		
	}
	&__wrapper-btn {

	}
	&-form {
		&__row {
			display: flex;
			justify-content: space-between;
			margin-bottom: 26px;
			// flex-wrap: wrap;
			// gap: 26px 0;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&__row:last-child &__input {
			width: 100%;
			max-width: none;
			margin-right: 0;
		}

		&__input {
			max-width: 900px;
			width: 50%;
			height: 63px;
			padding: 16px 0;
			background: none;
			border-bottom: 1px solid $white;
			color: $white;
			font-size: 22.4px;
			line-height: 1.383;

			&:nth-child(1), &:nth-child(3) {
				margin-right: 24px;
			}

			&::placeholder {
				color: $white;
			}
		}
	}
	&__btn {

	}
}
/* FEEDBACK */

/* FEEDBACK */
.footer {
}
.footer__wrapper {
	padding: 36px;
}
.footer__text {
	color: $grey_dark2;
}
/* FEEDBACK */


/* MODALS */
// .modal--active {
// 	visibility: visible;
//     opacity: 1;
// }

.modal {
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: hidden;
    opacity: 0;
    transition: .3s linear;

	&--active {
		visibility: visible;
		opacity: 1;
	}

	&__area {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		// z-index: -1;
	}

	&__wrapper {
		min-height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 15px;
	}

	&__content {
		width: 480px;
		background-color: #fff;
		color: $black;
		padding: 32px;
		border-radius: 16px 0 16px 16px;
		position: relative;

		// transform: perspective(600px) translateY(-120%) rotateX(45deg);
		// transition: .5s linear;
	}

	&__close {
		width: 48px;
		height: 48px;
		border-radius: 100%;
		background-color: $white;
		filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.16));
		position: absolute;
		right: -24px;
		top: -24px;
		cursor: pointer;
		transition: .3s linear transform;

		&:hover {
			transform: scale(1.11) rotate(360deg);
		}

		&:after, &:before {
			content: "";
			display: block;
			width: 15px;
			height: 2px;
			background-color: #000;
			position: absolute;
			top: 50%;
			left: 50%;
		}

		&:after {
			transform: translate3d(-50%, -50%, 0) rotate(45deg);
		}

		&:before {
			transform: translate3d(-50%, -50%, 0) rotate(135deg);
		}
	}

	&__info {
		margin-bottom: 16px;
	}

	&__title {
		font-size: 36px;
		line-height: 1;
		margin-bottom: 16px;
	}

	&__subtitle {
		font-size: 14px;
		line-height: 1.357;
	}

	&__error-message {
		&.show {
			display: block;
		}
		&.hide {
			display: none;
		}
		font-size: 14px;
		line-height: 19px;
		color: $grey_light;
		margin: 16px 0;
	}

	// &__error-message {
	// 	&.show .form__wrapper-btn {
	// 		margin-bottom: 100px;
	// 	}
	// }
}

.form {
	&__input {
		width: 100%;
		padding: 16px 0;
		border-bottom: 1px solid $black;
		margin-top: 26px;

		&:first-child {
			margin-top: 0;
		}
	}
	
	&__wrapper-btn {
		text-align: center;
	}

	&__btn {
		color: #3903AA;
		padding: 16px 36px;
		border: 2px solid #3903AA;
		border-radius: 28px;
		background: none;
		cursor: pointer;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.187;

		transition: .3s linear color, .3s linear background-color;

		&:hover {
			background-color: #3903AA;
			color: #fff;
		}
	}
}
/* MODALS */


@import "media.scss";